.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.message {
  margin-bottom: 10px;
  padding: 10px 15px;
  max-width: 600px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #415071;
}
.message:last-child {
  margin-bottom: 0;
}
.message--right {
  align-self: flex-end;
  border-radius: 5px 0 0 5px;
}

.message-divider {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.message-divider span {
  height: 1px;
  flex-grow: 1;
  border-bottom: 2px dashed #61dafb;
}
.message-divider__date {
  flex-shrink: 0;
  margin: 0;
  padding: 5px 30px;
  text-align: center;
  border: 2px dashed #61dafb;
  border-radius: 5px;
}
