.message-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-top: 2px dashed #61dafb;
}
.message-input__field {
  flex-grow: 1;
  margin-right: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.message-input__btn {
  flex-shrink: 0;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}
