.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 2px dashed #61dafb;
}
.chat-header__title {
  margin: 0;
}
.chat-header__participants {
  margin-left: 40px;
}
.chat-header__msg-count {
  margin-left: 40px;
}
.chat-header__last-msg {
  margin-left: auto;
}
