.app {
  min-height: 100vh;
  background-color: #282c34;
  display: grid;
  grid-template-areas:
  'header'
  'content'
  'footer';
  grid-template-rows: auto 1fr auto;
}
.app-header {
  grid-area: header;
  display: flex;
  align-items: center;
}
.app-header__logo {
  position: relative;
  width: 70px;
  height: 70px;
}
.app-header__logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*animation: app-logo-spin infinite 20s linear;*/
}
.app-header__title {
  margin: 0;
  font-size: 24px;
  color: #61dafb;
}
.app-content {
  grid-area: content;
}
.app-footer {
  grid-area: footer;
}
.app-footer__text {
  margin: 0;
  text-align: center;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
